body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

#yesButton {
    background-color: #2ecc71; /* Green */
    color: #fff;
}

#noButton {
    background-color: #e74c3c; /* Red */
    color: #fff;
}
